body {
	background-color: #8A8A8A;
}
header h1 {
	text-align: center;
}

header h1 img {
	height: 50px;
	margin-top: -15px;
}

.margem-direita {
	margin-right: 10px;
}
.marg-left-20- {
	margin-left: -20px;
}
a.fonticon {
	font-size: 12px;
	margin-left: 10px;
	margin-top: -2px;
}

h6 {
	font-size: 18px!important;
}
.color-cinza {
	color: #b8b8b8;
}
a.button {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;                     
	border-radius: 30px;
	border-top: solid 1px #cbcbcb;
	border-left: solid 1px #b7b7b7;
	border-right: solid 1px #b7b7b7;
	border-bottom: solid 1px #b3b3b3;
	color: #303030;
	line-height: 25px;
	font-weight: bold;
	font-size: 15px;
	padding: 12px 8px 12px 8px;
	width: 190px;
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 1px 5px #e8e8e8;
	display: block;
	float: left;
	margin: 28px 15px 0 0;
}
.reset {
	margin-top: 33px;
}
a.button:hover {
	border-top: solid 1px #b7b7b7;
	border-left: solid 1px #b3b3b3;
	border-right: solid 1px #b3b3b3;
	border-bottom: solid 1px #b3b3b3;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
a.button span {
	padding-left: 50px;
	height: 23px;
}
#download-zip span {
	background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
	background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
	background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
	margin-right: 0;
}
hr {
	height: 1px;
	line-height: 1px;
	margin-top: 1em;
	padding-bottom: 1em;
	border: none;
	background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

footer {
	height: 100px;
}

div.progress {
	height: 20px;
}

div.progress span {
	text-align: center;
	
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#downloads {
		margin-bottom: 25px;
	}
	#download-zip, #download-tar-gz {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
